// out: ../css/main.min.css, compress: true, strictMath: true
@baseColor: black;
.transition (@elm: all; @duration: 0.3s ) {
	transition: @arguments;
}
.center {
	text-align: center;
}
body {
	font-family: 'Open Sans', sans-serif;
}
#search.dragover {
    padding:0;
}
.RespRow {
    &.dragover {
        position: absolute;
        width: 100%;
        height: 100%;
        &:before {
            text-align: center;
            position: absolute;
            display: block;
            background-color: rgb(239,239,239);
            height: 100%;
            width: 100%;
            z-index: 8;
            border: 5px solid black;
        }
        &:after {
            content: "Drop Image here to upload";
            z-index: 9;
            width: 100%;
            display: block;
            top: 40%;
            font-size: 40px;
            text-align: center;
            position: absolute;
        }
    }
	max-width: none;
	padding: 0 40px;
}
.RespColsWrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	.RespCol {
		padding: 10px 10px;
	}
    &.home {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
ul, ol {
	margin: 0;
	-webkit-padding-start: 0;
}
a {
	&:active {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
}
.noneDisplay {
    display: none;
}
/* Style the scroll bar for the webkit browsers*/
::-webkit-scrollbar
{
  width: 2px;  /* for vertical scrollbars */
  height: 2px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}

/* Identity Wrapper*/
#identity {
	.logoWrapper {
		margin-top: 1%;
		a.logo {
			width:100%;
			max-width: 400px;
			display: block;
			margin:0 auto;
			img {
				width: 100%;
			}
		}
	}
	.tagline {
		text-align: center;
		font-size: 32px;
		span.title {
			display: block;
			font-weight: bold;
		}
	}
}

.errmessage {margin: 10px 0}

/* Search Wrapper*/
#searchWrapper {
	margin-top: 40px;
	.searchForm {
		width: 100%;
		display: block;
		text-align: center;
		.searchInput {
			width: 100%;
			margin: 0 auto;
			display: inline-block;
			max-width: 260px;
            
            &.small {
                width: 75%;
                max-width: 165px;
                
                .searchIcon {
                    z-index: 9;
                }
                .inputWrapper {
                    .ajaxResultWrapper {
                        width: 100%;
                        position: relative;
                    }
                }
            }
			.searchIcon {
				display: inline-block;
				position: absolute;
				margin-left: 13px;
				margin-top: 8px;
				.icon {
					color: lighten(#333,50%);
					&.focus {
						color:#333;
					}
                    &.clear {
                        cursor: pointer;
                    }
				}
			}
			.inputWrapper {
				display: inline-block;
				width: 100%;
                //position: relative;
				.input {
					width: 100%;
					padding-left: 35px;
					&.typed {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
				.ajaxResultWrapper {
					background: #efefef;
                    position: relative;
                    width : 100%;
                    padding: 10px 0;
					ul.ajaxResultList {
						text-align: left;
                        max-height: 160px;
                        overflow: auto;
						li.ajaxResult {
							display: block;
							a.item {
								color: #333;
								display: block;
								.text {
									display: block;
									margin:0 20px;
									padding: 5px 15px;
								}
								&:hover {
									text-decoration: none;
									background-color: darken(#efefef,10%);
								}
							}
						}
                        li.loading {
                            margin:0 20px;
                            padding: 5px 15px;
                            &.hide {
                                display: none;
                            }
                        }
					}
                    .noResult {
                        text-align: left;
                        padding: 0 35px;
                    }
                    div.ajaxResult.loading {
                        text-align: left;
                        margin: 10px 35px 0;
                    }
				}
			}
		}
		.uploadProgress {
			width:100%;
			max-width: 306px;
			margin: 0 auto;
			margin-top: 20px;
			position: relative;
			.logInfo {
				position: absolute;
				text-align: center;
				color: white;
				background-color: rgba(0,0,0,0.2);
				width: 100%;
			}
			.bar {
				
			}
		}
		.upload {
			display: inline-block;
			vertical-align: top;
			color: white;
            &.lg {
                background-color: @baseColor;
            }
		}
        .uploadedImage {
            width: 100%;
			max-width: 306px;
			margin: 0 auto;
			margin-top: 20px;
            .img {
                width: 100%;
				border: 2px solid #f1f4f9;
            }
        }
		.dragDropZone {
			width: 100%;
			max-width: 306px;
			margin: 0 auto;
			margin-top: 20px;
			.drop-box {
				height: 136px;
				border: 1px dashed rgb(213, 213, 213);
				border-radius: 5px;
				.text {
					display: block;
					margin-top: 15%;
					font-size: 20px;
					color: rgb(152, 152, 152);
                    font-weight: 100;
				}
				&.dragover {
					border-color: #e74c3c;
				}
			}
			.noDrag {
				width: 100%;
				max-width: 306px;
				margin: 0 auto;
				margin-top: 20px;
				height: 136px;
				border: 1px dashed rgb(213, 213, 213);
				border-radius: 5px;
				.text {
					display: block;
					margin-top: 13%;
					font-size: 20px;
					color: rgb(152, 152, 152);
					padding: 0 20px;
                    font-weight: 100;
				}
			}
		}
		.uploadBar {
            transition: all 0.3s linear;
            &.ng-hide {
                transition: all 0.3s linear;
            }
            margin-top: 30px;
			.uploadProgressBtn {
				display: inline-block;
				position: relative;
				svg {
					width: 130px;
					cursor: pointer;
					
				}
				.progressbarText{
					position: absolute;
					top: 47%;
					left: 50%;
					margin: 0;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					color: transparent;
					font-size: 26px;
					&:before {
						color: white;
						content: "\f030";
						display: inline-block;
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						transform: translate(0, 0);
					}
				}
			}
		}
		input[type="file"] {
			display: none;
			margin: 0 auto;
		}
	}
}

/*Dict*/
#dict {
	&.RespColsWrapper {
		max-width: inherit;
	}
	.leftCol {
		
		padding-right: 20px;
	}
	.rightCol {
		padding-left: 20px;
		border-left: 2px solid #F1F4F9;
	}
	.logoWrapper {
		margin-top: 5%;
		a.logo {
			width:100%;
			max-width: 400px;
			display: block;
			margin:0 auto;
			img {
				width: 100%;
			}
		}
	}
	.tagline {
		text-align: center;
		font-size: 24px;
		span.title {
			display: block;
			font-weight: bold;
		}
	}
	.uploadedImage {
         max-width: 330px;
		.imgWrapper {
			margin: 10px 0;
			border: 2px solid #F1F4F9;
			img.img {
				width: 100%;
			}
		}
		.uploadedImageInfo {
			margin-bottom: 15px;
			.imageName {
				font-size: 14px;
				margin-top: 5px;
				margin-bottom: 5px;
				.name {
					margin-left: 5px;
				}
			}
		}
		.reUploadBtn {
			.reUpload {
				padding: 3px 6px;
				font-size: 10px;
				background-color: @baseColor;
				color: white;
				span.icon {
					padding-right: 6px;
				}
			}
		}
	}
	.catalogueWrapper {
		h3.title {
			font-size: 20px;
			font-weight: bold;
		}
		.catalogueContent {
			ul.wordList {
                -webkit-padding-start: 0;
				max-height: 300px;
				overflow-y: auto;
				overflow-x: hidden;
				li.word {
                    display: block;
                    padding: 3px 0;
					a {
                        margin-left: 15px;
                        color: black;
						&:hover {
							text-decoration: underline;
						}
                        span.text {
						
						}
					}
				}
                li.active {
                    font-weight: bold;
                    a {
                        color: inherit;
                    }
                }
                li.active:before {
					padding-top: 3px;
					font-size: 10px;
                    content: "\f054";
                    font-family: "Fontawesome";
                    position: absolute;
                }
			}
			.more {
				.moreBtn {
					margin-top: 10px;
					margin-bottom: 10px;
					padding: 3px 6px;
					font-size: 10px;
					background-color: lighten(@baseColor,80%);
					color: darken(white,80%);
                    span.icon {
                        padding-right: 6px;
                    }
                    transition: all 0.1s;
                    &:hover {
                        background-color: @baseColor;
                        color: white;
                        transition: all 0.3s;
                    }
				}
			}
            .sidebarText {
				border-top: 1px solid gray;
                margin-bottom: 5px;
				padding-top: 10px;
            }
            a.addNewWord {
				padding: 3px 6px;
				font-size: 10px;
                background: @baseColor;
                color: white;
                .text {
                    .icon {
                        padding-right: 6px;
                    }
                }
            }
		}
	}
	.wordInterpretation {
		margin: 75px 40px;
		.topBar {
			.wordWrapper {
				.word {
					font-size: 78px;
					font-weight: bold;
					display: inline-block;
					word-break: break-all;
					line-height: 1.1em;
				}
				.subTitle {
					display: inline-block;
					color: lighten(#333,50%);
					margin: 10px 0;
                    font-size: 32px;
				}
				a.addNewWord {
					padding: 3px 6px;
					font-size: 10px;
					background: lighten(@baseColor,80%);
					color: darken(white,80%);
					transition: all 0.1s;
					&:hover {
						background: @baseColor;
                        color: white;
						transition: all 0.3s;
					}
					.text {
						.icon {
							padding-right: 6px;
						}
					}
				}
			}
		}
	}
}

/*Tabs*/
.tabbable {
    margin-top: 30px;
    ul.nav {
        li {
            a {
                color: lighten(@baseColor,70%);
                &:hover {
                    color: @baseColor;
                }
            }
        }
        li.active {
            a {
                color: @baseColor;
            }
        }
    }

    .tab-content {
        margin-top: 20px;
        padding: 5px 10px;
        ul.unOrderList {
            list-style: none;
            li.item {
                margin: 8px 0;
            }
        }
        .commonUsage {
            margin-top: 40px;
        }
        ol.orderList {
            margin-top: 20px;
            margin-left: 40px;
            li.item {
                margin: 8px 0;
            }
        }
    }
}
.editBtn {
    margin: 25px 40px 0;
    .edit {
        padding: 3px 6px;
        font-size: 10px;
        background: lighten(@baseColor,80%);
        color: darken(white,80%);
        transition: all 0.1s;
        &:hover {
            background: @baseColor;
            color: white;
            transition: all 0.3s;
        }
        .icon {
            padding-right: 6px;
        }
    }
}
/*Popup Content*/
#popup {

}
.mfp-content {
    .noneDisplay {
        display: block;
    } 
}
#addNewWord {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    min-height: 400px;
    max-height: 420px;
    position: relative;
    overflow: auto;
    .innerContent {
        padding: 20px 40px;
        .addWrapper {
			h1 {
				display: inline-block;
			}
			.err {
				display: inline-block;
				color: lighten(#555,30%);
				margin-left: 20px;
			}
            .wordWrapper {
                input {
                    border-style: dashed;
                    box-shadow: none;
                    font-size: 32px;
					font-weight: bold;
                    height:inherit;
                }
            }
            .dictWrapper {
                a.add {
                    cursor: not-allowed;
                    &:hover {
                        span {
                            color: #555;
                        }
                    }
                    &.active {
                        cursor: pointer;
                        background-color: #5cb85c;
                        span {color: white}
                    }
                }
                ul.listGroup {
					margin: 15px 0;
                    padding: 5px 10px;
					border: 1px dashed #ccc;
					border-radius: 4px;
                    .list {
                        margin-left: 20px;
						padding: 5px 0;
						border-bottom: 1px dashed #ccc;
						span {
							float: right;
						}
						&:last-child {
							border-bottom-color: transparent
						}
                    }
                }
                .dict {
                    
                }
                .example {
                    
                }
            }
        }
		button[disabled='disabled'] {
			color: #555;
			border-color:#ccc;
			background-color: #ccc;
			transition: all 0.3s;
		}
        .submit, .cancel {
            margin-top: 20px;
            margin-right: 20px;
        }
        .curWrapper {
            margin-top: 60px;
            border-top: 1px dashed #ccc;
            li {
                min-width: 20%;
                display: inline-block;
                margin: 5px 0;
                padding: 0 15px;
				.currentItem {
					border: 1px dashed #ccc;
					padding: 5px 10px;
					border-radius: 4px;
				}
                span.btn {
                    float: right;
                    margin-left: 10px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
/*Magnific Popup # Animation*/
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/*Magnific Popup # Zoom Effect*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}



@media (min-width: 992px) {
    .uploadBar {display: none !important;}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .uploadBar {display: none !important;}
	#dict .leftCol {
		padding: 10px 20px;
	}
	#dict .rightCol {
		border-left: none;
		padding: 10px 20px;
	}
	#dict .wordInterpretation {
		margin: 0;
	}
	.dragDropZone {display: none;}
	#dict .uploadedImage {
		margin: 0 auto;
		margin-top: 20px;
	}
	#dict .uploadedImage .uploadedImageInfo {
		text-align: center;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.RespColsWrapper .RespCol {
		padding: 10px 0;
	}
	#dict .wordInterpretation {
		margin: 0;
	}
	#dict .uploadedImage {
		margin: 0 auto;
		margin-top: 20px;
	}
	#dict .uploadedImage .uploadedImageInfo {
		text-align: center;
	}
	
	#addNewWord {
		.innerContent {
			.tabs {
				margin-left: 25px;
				.tabpanel {
					h1 {
						margin-top: 0;
					}
					.word {
						span.icon {
							margin-left: 4%;
							margin-top: 20px;
							font-size: 24px;
						}
						input {
							font-size: 40px;
						}
					}
				}
			}
		}
	}
	
	#dict .rightCol {
		padding-left: 0;
		border-left: none;
	}
	.dragDropZone {display: none;}
}
/* Portrait phones and smaller */

.home.mobile {
    #searchWrapper .searchForm .searchInput .inputWrapper .ajaxResultWrapper {
        position: absolute;
        max-width: 260px;
        z-index: 2;
    }
}
@media (max-width: 480px) {
    .hide-on-small {display:none;}
    #dict .uploadedImage .uploadedImageInfo .imageName {
        text-align: center;
    }
    #dict .wordInterpretation {margin:40px 0;}
	#addNewWord {
		.innerContent {
			.tabs {
				.tabpanel {
					h1 {
						font-size: 22px;
					}
					.word {
						span.icon {
							margin-left: 8px;
							margin-top: 14px;
							font-size: 20px;
						}
						input {
							font-size: 28px;
						}
					}
				}
			}
		}
	}
	.RespColsWrapper .RespCol {
		padding: 10px 0;
	}
	.RespRow {
		padding: 20px;
	}
	#identity .logoWrapper {
		margin-top: 5%;
	}
	#dict .rightCol {
		border-left: none;
	}
	#searchWrapper {
		.searchForm  {
            .searchInput {}
			.upload {
				display: none;
			}
		}
	}
}