// out: ../css/main.min.css, compress: true, strictMath: true
@baseColor: black;

body {
	font-family: 'Open Sans', sans-serif;
}
.RespRow {
	max-width: none;
	padding: 75px 40px;
}
.RespColsWrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	.RespCol {
		padding: 10px 10px;
	}
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
ul {
	margin: 0;
	-webkit-padding-start: 0;
}
a {
	&:active {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
	&:visited {
		text-decoration: none;
	}
}

/* Identity Wrapper*/
#identity {
	.logoWrapper {
		margin-top: 10%;
		a.logo {
			width:100%;
			max-width: 400px;
			display: block;
			margin:0 auto;
			img {
				width: 100%;
			}
		}
	}
	.tagline {
		text-align: center;
		font-size: 32px;
		span.title {
			display: block;
			font-weight: bold;
		}
	}
}
/* Search Wrapper*/
#searchWrapper {
	margin-top: 40px;
	.searchForm {
		width: 100%;
		display: block;
		text-align: center;
		.searchInput {
			width: 100%;
			margin: 0 auto;
			display: inline-block;
			max-width: 260px;
			.searchIcon {
				display: inline-block;
				position: absolute;
				margin-left: 13px;
				margin-top: 6px;
				.icon {
					color: lighten(#333,50%);
					&.focus {
						color:#333;
					}
				}
			}
			.inputWrapper {
				display: inline-block;
				width: 100%;
				.input {
					width: 100%;
					padding-left: 35px;
					&.typed {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
				.ajaxResultWrapper {
					background: #efefef;
					ul.ajaxResultList {
						text-align: left;
						padding: 10px 0;
						li.ajaxResult {
							display: block;
							a.item {
								color: #333;
								display: block;
								.text {
									display: block;
									margin:0 20px;
									padding: 5px 15px;
								}
								&:hover {
									text-decoration: none;
									background-color: darken(#efefef,10%);
								}
							}
							.loading {
								margin:0 20px;
								padding: 5px 15px;
								&.hide {
									display: none;
								}
							}
						}
					}
				}
			}
		}
		.search {
			vertical-align: top;
			background-color: @baseColor;
			color: white;
		}
		.upload {
			display: inline-block;
			vertical-align: top;
			background-color: @baseColor;
			color: white;
		}
		.uploadBar {
			.uploadProgressBtn {
				display: inline-block;
				position: relative;
				svg {
					width: 70px;
					cursor: pointer;
					
				}
				.progressbarText{
					position: absolute;
					top: 45%;
					left: 50%;
					margin: 0;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					color: transparent;
					font-size: 15px;
					&:before {
						color: white;
						content: "\f030";
						display: inline-block;
						font: normal normal normal 14px/1 FontAwesome;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						transform: translate(0, 0);
					}
				}
			}
		}
		input[type="file"] {
			display: none;
			margin: 0 auto;
		}
	}
}

/*Dict*/
#dict {
	.RespColsWrapper {
		max-width: inherit;
	}
	.RespRow {
		padding: 0 40px;
	}
	.leftCol {
		border-right: 2px solid #F1F4F9;
		padding-right: 20px;
	}
	.rightCol {
		padding-left: 20px;
	}
	.logoWrapper {
		margin-top: 5%;
		a.logo {
			width:100%;
			max-width: 400px;
			display: block;
			margin:0 auto;
			img {
				width: 100%;
			}
		}
	}
	.tagline {
		text-align: center;
		font-size: 24px;
		span.title {
			display: block;
			font-weight: bold;
		}
	}
	.searchInputWrapper {
		margin-top: 20px;
		width: 100%;
		form.searchInput {
			width: 100%;
			display: block;
			text-align: center;
			input.form-control {
				display: inline-block;
				width: 75%;
				max-width: 165px;
			}
			div.upload {
				display: inline-block;
				vertical-align: top;
				background-color: @baseColor;
				color: white;
			}
			input[type="file"] {
				display: none;
			}
		}
	}
	.uploadedImage {
		.imgWrapper {
			margin: 10px 0;
			border: 2px solid #F1F4F9;
			img.img {
				width: 100%;
			}
		}
		.uploadedImageInfo {
			margin-bottom: 15px;
			.imageName {
				font-size: 14px;
				margin-top: 5px;
				margin-bottom: 5px;
				.name {
					margin-left: 5px;
				}
			}
		}
		.reUploadBtn {
			.reUpload {
				padding: 3px 6px;
				font-size: 10px;
				background-color: @baseColor;
				color: white;
				span.icon {
					padding-right: 6px;
				}
			}
		}
	}
	.catalogueWrapper {
		h3.title {
			font-size: 20px;
			font-weight: bold;
		}
		.catalogueContent {
			ul.wordList {
                -webkit-padding-start: 0;
				li.word {
                    display: block;
                    padding: 3px 0;
					a {
                        margin-left: 15px;
                        color: black;
                        span.text {
						
						}
					}
				}
                li.active {
                    font-weight: bold;
                    a {
                        color: inherit;
                    }
                }
                li.active:before {
					padding-top: 3px;
					font-size: 10px;
                    content: "\f054";
                    font-family: "Fontawesome";
                    position: absolute;
                }
			}
			.more {
				.moreBtn {
					margin-top: 10px;
					margin-bottom: 10px;
					padding: 3px 6px;
					font-size: 10px;
					background-color: lighten(@baseColor,80%);
					color: darken(white,80%);
                    span.icon {
                        padding-right: 6px;
                    }
                    transition: all 0.1s;
                    &:hover {
                        background-color: @baseColor;
                        color: white;
                        transition: all 0.3s;
                    }
				}
			}
            .sidebarText {
				border-top: 1px solid gray;
                margin-bottom: 5px;
				padding-top: 10px;
            }
            a.addNewWord {
				padding: 3px 6px;
				font-size: 10px;
                background: @baseColor;
                color: white;
                .text {
                    .icon {
                        padding-right: 6px;
                    }
                }
            }
		}
	}
	.wordInterpretation {
		margin: 75px 40px;
		.topBar {
			.wordWrapper {
				.word {
					font-size: 78px;
					font-weight: bold;
					display: inline-block;
					word-break: break-all;
					line-height: 1.1em;
				}
				.subTitle {
					display: inline-block;
					color: lighten(#333,50%);
					margin: 10px 10px 5px 20px;
				}
				a.addNewWord {
					padding: 3px 6px;
					font-size: 10px;
					background: lighten(@baseColor,80%);
					color: darken(white,80%);
					transition: all 0.1s;
					&:hover {
						background: @baseColor;
                        color: white;
						transition: all 0.3s;
					}
					.text {
						.icon {
							padding-right: 6px;
						}
					}
				}
			}
		}
		.tabs {
			margin-top: 30px;
			.tabpanel {
				ul.nav {
					li {
						a {
							color: lighten(@baseColor,70%);
							&:hover {
								color: @baseColor;
							}
						}
					}
					li.active {
						a {
							color: @baseColor;
						}
					}
				}
				.tab-content {
					margin-top: 20px;
					.tab-pane {
						.dictContent {
							.explanationWrapper {
								ul.explanationList {
									li.pos {
										.posContent {
										}
										ul.listItems {
											li.list {
												.listItem {
												}
											}
										}
									}
								}
								.commonUsage {
									h4.title {
									}
								}
							}
							.exampleWrapper {
								ul.exampleList {
									li.list {
										margin-top: 10px;
										span.text {
											&.fr {}
											&.cn {margin-top:  5px;}
										}
									}
								}
							}
							.conjugaisonWrapper {
								.original {
									.text {
										&.cn {}
										&.fr {font-weight: bold;}
									}
								}
								ul.conjugaisonList {
									margin-top: 20px;
									-webkit-padding-start: 0;
									li.list {
										display: block;
										background-color: lighten(@baseColor, 95%);
										padding: 10px 20px;
										margin-bottom: 10px;
										a {
                                            &:hover {
                                                text-decoration: none;
                                            }
                                            &:focus {
                                                text-decoration: none;
                                                color: #337ab7;
                                            }
											span.icon {margin-right: 10px}
											span.text {}
										}
									}
                                    .content {
                                        margin-top: 20px;
                                        margin-bottom: 20px;
                                        padding: 0 20px;
                                    }
								}
							}
						}
						.editBtn {
							margin-top:15px;
							.edit {
								padding: 3px 6px;
								font-size: 10px;
								background: lighten(@baseColor,80%);
								color: darken(white,80%);
								transition: all 0.1s;
								&:hover {
									background: @baseColor;
                                    color: white;
									transition: all 0.3s;
								}
								.icon {
									padding-right: 6px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#dict .leftCol {
		border-right: none;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#dict .leftCol {
		border-right: none;
	}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
	.RespRow {
		padding: 20px;
	}
	#identity .logoWrapper {
		margin-top: 5%;
	}
	#dict .leftCol {
		border-right: none;
	}
	#searchWrapper {
		.searchForm  {
			.searchInput {
			margin-bottom: 30px;}
			.upload {
				display: none;
//				margin: 0 auto;
//				width: 80px;
//				height: 80px;
//				border-radius: 50%;
//				.icon {
//					font-size: 22px;
//					padding-top: 20px;
//				}
			}
		}
	}
}