// out: ../css/main.min.css, compress: true, strictMath: true
@baseColor: black;

body {
	font-family: 'Open Sans', sans-serif;
}
.RespRow {
	max-width: none;
	padding: 75px 40px;
}
.RespColsWrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	.RespCol {
		padding: 10px 10px;
	}
}

/*HOME*/
#home {
	.logoWrapper {
		margin-top: 10%;
		a.logo {
			width:100%;
			max-width: 400px;
			display: block;
			margin:0 auto;
			img {
				width: 100%;
			}
		}
	}
	.tagline {
		text-align: center;
		font-size: 32px;
		span.title {
			display: block;
			font-weight: bold;
		}
	}
	.searchInputWrapper {
		margin-top: 40px;
		form.searchInput {
			width: 100%;
			display: block;
			text-align: center;
			input.form-control {
				display: inline-block;
				max-width: 260px;
				width: 60%
			}
            button.search {
                vertical-align: top;
                background-color: @baseColor;
				color: white;
            }
			div.upload {
				display: inline-block;
				vertical-align: top;
				background-color: @baseColor;
				color: white;
			}
			input[type="file"] {
				display: none;
			}
		}
	}
}

/*Dict*/
#dict {
	.RespColsWrapper {
		max-width: inherit;
	}
	.RespRow {
		padding: 0 40px;
	}
	.leftCol {
		border-right: 2px solid #F1F4F9;
		padding-right: 20px;
	}
	.rightCol {
		padding-left: 20px;
	}
	.logoWrapper {
		margin-top: 5%;
		a.logo {
			width:100%;
			max-width: 400px;
			display: block;
			margin:0 auto;
			img {
				width: 100%;
			}
		}
	}
	.tagline {
		text-align: center;
		font-size: 24px;
		span.title {
			display: block;
			font-weight: bold;
		}
	}
	.searchInputWrapper {
		margin-top: 20px;
		width: 100%;
		form.searchInput {
			width: 100%;
			display: block;
			text-align: center;
			input.form-control {
				display: inline-block;
				width: 75%;
				max-width: 165px;
			}
			div.upload {
				display: inline-block;
				vertical-align: top;
				background-color: @baseColor;
				color: white;
			}
			input[type="file"] {
				display: none;
			}
		}
	}
	.uploadedImage {
		margin: 10px 0;
		border: 2px solid #F1F4F9;
		img.img {
			width: 100%;
		}
	}
	.catalogueWrapper {
		h3.title {
		  font-size: 20px;
		}
		.catalogueContent {
			ul.wordList {
                -webkit-padding-start: 0;
				li.word {
                    display: block;
                    padding: 3px 0;
					a {
                        margin-left: 20px;
                        color: black;
                        span.text {
						
						}
					}
				}
                li.active {
                    font-weight: bold;
                    a {
                        color: inherit;
                    }
                }
                li.active:before {
                    content: "\f054";
                    font-family: "Fontawesome";
                    position: absolute;
                }
			}
            .sidebarText {
                margin-bottom: 5px;
            }
            a.addNewWord {
                background: black;
                color: white;
                .text {
                    .icon {
                        padding-right: 10px;
                    }
                }
            }
		}
	}
	.wordInterpretation {
		.topBar {
			.wordWrapper {
				.word {
				}
				.subtitle {
				}
			}
		}
		.titles {
			.title {
				span.text {
				}
			}
		}
		.editContent {
			input[type="text"] {
				width: 100%;
			}
		}
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#dict .leftCol {
		border-right: none;
	}
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#dict .leftCol {
		border-right: none;
	}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
	#dict .leftCol {
		border-right: none;
	}
}