<div id="search" class="row RespRow drop-box" ngf-drop ng-model="files" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true" ngf-accept="'image/*'"  ngf-hide-on-drop-not-available="true">
	<section class="RespColsWrapper home">
		<div class="RespCol">
			<div id="identity">
				<div class="logoWrapper">
					<a ng-href="#/" class="logo">
						<img src="img/logo.svg"/>
					</a>
				</div>
				<div class="tagline">
					<span class="title">Dictionnaire</span>
					<span class="fromLang">Français</span> - <span class="toLang">Chinois</span>
				</div>
			</div>
			<div id="searchWrapper" class="searchInputWrapper">
				<form name="mainSearch" class="searchForm" ng-submit="mySearch()" novalidate autocomplete="off">
					<div class="searchInput">
						<div class="searchIcon" for="filter-by"><span class="icon fa fa-search search"></span></div>
						<div class="searchIcon" for="filter-by"><span class="icon fa fa-times clear hide"></span></div>
						<div class="inputWrapper">
							<input id="input" class="form-control input" type="search" name="search" placeholder="Rechercher" tabindex="1" autofocus ng-model="searchWord" ng-enter="search()" ng-keyup="checkInput()">
							<div class="ajaxResultWrapper" ng-show="searchWord.length">
								<ul class="ajaxResultList">
                                    <li class="ajaxResult" ng-repeat="dict in dictionary | searchFor:searchWord">
										<a class="item" href="#"><span class="text" data="{{dict.word}}">{{dict.word}}</span></a>
									</li>
								</ul>
								<div class="noResult" ng-hide='searchExist'>Found Nothing! Try again.</div>
                                <div class='ajaxResult loading' ng-hide="resultItems || searchExist">
                                    <span class='fa fa-spinner fa-pulse'></span>
                                </div>
							</div>
						</div>
						<div class="errmessage center" ng-show="needSearchWord">You need type something to search...</div>
					</div>
					<div ngf-select ng-model="files" class="btn lg upload" data-toggle="tooltip" data-placement="top" title="Shot or Upload an image to start">
                        <span class="icon fa fa-camera"></span>
                    </div>
					<div class="progress uploadProgress" ng-show="progressBar">
						<div class="logInfo">{{log}}</div>
						<div class="progress-bar bar" role="progressbar">
						</div>
					</div>
<!--
                    <div class="uploadedImage hide">
                        <img class="img" ngf-src="files[0]" ngf-accept="'image/*'">
                    </div>
-->
					<div class="uploadBar" ng-hide="searchWordLength">
						<div ngf-select ng-model="files" class="uploadProgressBtn upload" data-toggle="tooltip" data-placement="top" title="Shot or Upload an image to start"></div>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>
<div class="noDrag" ngf-no-file-drop>
    <span class="text">File Drag/Drop is not supported for this browser</span>
</div>