<div class="row RespRow">
	<section id="dict" class="RespColsWrapper dict">
		<div class="RespCol col-lg-3 col-md-3 col-sm-12 col-xs-12 leftCol" >
			<div class="logoWrapper">
				<a href="#/" class="logo">
					<img src="img/logo.png"/>
				</a>
			</div>
			<div class="tagline">
				<span class="title">Dictionnaire</span>
				<span>Français</span> - <span>Chinois</span>
			</div>
			<div id="searchWrapper" class="searchInputWrapper">   
				<form class="searchForm" name="mainSearch" ng-submit="mySearch()" novalidate autocomplete="off">
					<div class="searchInput small">
						<div class="searchIcon" for="filter-by"><span class="icon fa fa-search search"></span></div>
						<div class="searchIcon" for="filter-by"><span class="icon fa fa-times clear hide"></span></div>
						<div class="inputWrapper">
							<input id="filter-by" class="form-control input" type="search" name="search" placeholder="Rechercher" tabindex="1" ng-model="searchWord" ngEnter="mySearch() == true" ng-keyup="checkInput()">
							<div class="ajaxResultWrapper" ng-show="searchWord.length">
								<ul class="ajaxResultList">
									<li class="ajaxResult" ng-repeat="dict in dictionary | searchFor:searchWord">
										<a class="item" href=''><span class="text">{{dict.word}}</span></a>
									</li>
									<div class='ajaxResult loading' ng-hide="resultItems">
                                        <span class='fa fa-spinner fa-pulse'></span>
                                    </div>
								</ul>
							</div>
						</div>
					</div>
					<div ngf-select ng-model="files" class="btn lg upload" data-toggle="tooltip" data-placement="top" title="Shot or Upload an image to start">
                        <span class="icon fa fa-camera"></span>
                    </div>
                    <div class="progress uploadProgress" ng-show="progressBar">
						<div class="logInfo">{{log}}</div>
						<div class="progress-bar bar" role="progressbar">
						</div>
					</div>
                    <div class="uploadedImage" ng-show="upluadFileFullName">
                        <p><bold>Image name:</bold> {{ upluadFileFullName }}</p>
                    <!--ng-show="progressBar"-->
                        <img class="img" ngf-src="upluadFile" ngf-accept="'image/*'">
                    </div>
<!--
                    <div class="dragDropZone hide">
						<div ngf-drop ng-model="files" class="drop-box" 
							 ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
							 ngf-accept="'image/*'"  ngf-hide-on-drop-not-available="true">
							<span class="text">Drop Image here</span>
						</div>
						<div class="noDrag" ngf-no-file-drop>
							<span class="text">File Drag/Drop is not supported for this browser</span>
						</div>
					</div>
-->
					<div class="uploadBar" ng-hide="searchWordLength">
						<div ngf-select ng-model="files" class="uploadProgressBtn uploadMobile" data-toggle="tooltip" data-placement="top" title="Shot or Upload an image to start"></div>
					</div>
				</form>
			</div>
			<div class="catalogueWrapper" >
				<h3 class="title">Catalogue:</h3>
				<div class="catalogueContent">
					<ul class="wordList">
						<li class="word" ng-repeat="dict in catalogueDict | limitTo: limitNo:0">
							<a ng-href="#/dict?q={{dict.word}}"><span class="text">{{dict.word}}</span></a>
						</li>
					</ul>
					<div class="more">
						<div class="btn moreBtn" ng-click="limitNoFunc()" ng-init="limitNo = 5" ><span class="icon fa fa-ellipsis-v"></span><span class="text">Charger plus</span></div>
					</div>
					<div class="sidebarText">vous pouvais créer des nouveaux ici.</div>
					<a href="#addNewWord" class="btn addNewWord popup" data-toggle="tooltip" data-placement="top" title="Add another possible word for this image."><span class="text"><i class="icon fa fa-plus"></i>Ajouter</span></a>
				</div>
			</div>
		</div>
		<!--Left Col-->

		<div class="RespCol col-lg-9 col-md-9 col-sm-12 col-xs-12 rightCol" >
			<div class="wordInterpretation">
				<div class="topBar">
					<div class="wordWrapper">
						<div class="word" ng-repeat="dict in loadDictionary | searchFor:searchedWord">
							{{dict.word}}
							<span class="wordNoExpWrapper">
								<span>(There is no explanation for <span class="quote">"</span><span class="quoteWord">{{dict.word}}</span><span class="quote">"</span> yet.</span>
								<span class="btnWrapper">
									<a href="#addNewWord" class="btn addNewWord popup" data-toggle="tooltip" data-placement="top" title="Add another possible word for this image.">
										<span class="text"><i class="icon fa fa-plus"></i>Add/Edit</span>
									</a>
								</span>)
							</span>
						</div>
						<div class="wordNotExist" ng-hide="found">
							<div class="subTitle">n'existe pas, vous pouvez le créer ici.</div>
							<div class="btnWrapper">
								<a href="#addNewWord" class="btn addNewWord popup" data-toggle="tooltip" data-placement="top" title="Add another possible word for this image.">
									<span class="text"><i class="icon fa fa-plus"></i>Ajouter</span>
								</a>
							</div>
						</div>
					</div>
				</div>
                <div class="tabbable" ng-show="thisDictExp.length>=1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li ng-class="{active: selectedTab == 1}">
                            <a href="" ng-click="selectedTab = 1;">Dictionaire</a>
                        </li>
                        <li ng-class="{active: selectedTab == 2}">
                            <a href="" ng-click="selectedTab = 2;">Exemple(s)</a>
                        </li>
                    </ul>
                    <div class="tab-content" ng-show="selectedTab == 1">
						<ul class="unOrderList">
							<li class="item" ng-repeat="exp in thisDictExp">{{exp.content}}</li>
						</ul>
                        <div class="commonUsage">
                            <h4>常见用法</h4>
                            <ol class="orderList">
                                <li class="item" ng-repeat="comUsage in thisDictCommonUsage">{{comUsage.content}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="tab-content" ng-show="selectedTab == 2">
						<h4>例句</h4>
						<ol class="orderList">
							<li class="item" ng-repeat="exem in thisExem">{{exem.content}}</li>
						</ol>
                    </div>
                </div>
			</div>
            <div class="editBtn" ng-show="">
                <div class="btn edit">
                    <span class="icon fa fa-pencil"></span>Éditer
                </div>
            </div>
		</div>
		<!--Right Col-->
	</section>
</div>


<!--
<div ng-switch on="requestAdd">
	<div ng-switch-when="true">
		<div ng-include="'views/backendAdd.html'"></div>
    </div>
</div>
-->



<div id="popup" class="popupWrapper">
    <div id="addNewWord" class="addNewWordWrapper noneDisplay">
        <div class="innerContent">
			<div class="addWrapper">
                <h1>Live Editor</h1>
				<span class="err">(Please fill in every input fileds!)</span>
				<form>
					<div class="wordWrapper">
						<input type="text" class="form-control" autofocus placeholder="Add New Word" ng-model="word.newWord" required>
					</div>
					<div class="dictWrapper">
						<div class="dict">
							<h3>Dictionaire</h3>
							<div class="input-group">
								<a class="input-group-addon add" ng-class=" word.newWordExp ? 'active' : ''" ng-click="addItemOne()"><span class="fa fa-plus"></span></a>
								<select name="select" class="input-group-select" ng-options="key as key for (key , value) in pos" ng-model="word.pos" ng-change="addPos()">
									<option value="">Choose a POS</option>
<!--									<option ng-repeat="(key, value) in pos" value="{{key}}" ng-module="word.pos">{{key}}</option>-->
								</select>
								<input type="text" class="form-control exp" autocomplete="off" placeholder="Add explanation" ng-model="word.newWordExp"  ng-init="word.newWordExp=undefined" ng-enter="addItemOne()">
							</div>
							<ul class="listGroup" ng-show="word.pos">
								<li class="list">
									<span class="pos">{{word.pos}}</span>
									<ul class="explanation">
										<li class="item" ng-repeat="item in _newWordExp track by $index">{{item.content}}</li>
									</ul>
									<span class="btn btn-danger btn-xs" ng-click="deleteItemOne($index)">
										<span class="fa fa-close"></span>
									</span>
								</li>
							</ul>
							<h3>常见用法</h3>
							<div class="input-group">
								<a class="input-group-addon add" ng-class=" word.newWordCommonUsage ? 'active' : ''" ng-click="addItemTwo()"><span class="fa fa-plus"></span></a>
								<input type="text" class="form-control comUsage" autocomplete="off" placeholder="Add Common Usage" ng-model="word.newWordCommonUsage" ng-init="word.newWordCommonUsage=undefined" ng-enter="addItemTwo()">
							</div>
							<ul class="listGroup" ng-show="_newWordCommonUsage.length > 0">
								<li class="list" ng-repeat="item in _newWordCommonUsage track by $index">{{item.content}}
									<span class="btn btn-danger btn-xs" ng-click="deleteItemTwo($index)">
										<span class="fa fa-close"></span>
									</span>
								</li>
							</ul>
						</div>
						<div class="example">
							<h3>Exemple(s)</h3>
							<div class="input-group">
								<a class="input-group-addon add" ng-class=" word.newWordExamples ? 'active' : ''"  ng-click="addItemThree()"><span class="fa fa-plus"></span></a>
								<input type="text" class="form-control example" autocomplete="off" placeholder="Add example(s)" ng-model="word.newWordExamples" ng-init="word.newWordExamples=undefined" ng-enter="addItemThree()">
							</div>
							<ul class="listGroup" ng-show="_newWordExamples.length > 0">
								<li class="list" ng-repeat="item in _newWordExamples track by $index">{{item.content}}
									<span class="btn btn-danger btn-xs" ng-click="deleteItemThree($index)">
										<span class="fa fa-close"></span>
									</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="formErr" ng-show="">Plese fill in something...</div>
					<button class="btn btn-success submit" ng-disabled="!word.newWord" ng-click="addNewWord()">Submit</button>
				</form>
			</div>
			
            <div class="curWrapper">
                <h3>Current word library</h3>
                <ul class="curList">
                    <li ng-repeat=" (key,dict) in requestDictionary">
                        <div class="currentItem">
                            <span>{{dict.word}}</span>
                            <span class="btn btn-danger btn-xs" ng-click="deleteWord(key)">
                                <span class="fa fa-close"></span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>