<div class="RespCol">
	<div id="identity">
		<div class="logoWrapper">
			<a ng-href="/" class="logo">
				<img src="img/logo.svg"/>
			</a>
		</div>
		<div class="tagline">
			<span class="title">Dictionnaire</span>
			<span class="fromLang">Français</span> - <span class="toLang">Chinois</span>
		</div>
	</div>
	<div id="searchWrapper" class="searchInputWrapper" ng-controller="searchCtrl">
		<form class="searchForm">
            <div ng-controller='liveSearch' id="liveSearch">
                <div class="searchIcon" for="filter-by"><span class="icon fa fa-search search"></span></div>
                <div class="searchIcon" for="filter-by"><span class="icon fa fa-times clear hide"></span></div>
                <div class="inputWrapper">
                    <live-search type="text"
                    live-search-callback="mySearchCallback"
                    live-search-item-template="{{result.city}}, {{result.state}},{{result.country}}"
                    live-search-select="fullName"
                    ng-model="wordSearch" >
                    </live-search >
                </div>
            </div>
			<div class="btn lg upload" data-toggle="tooltip" data-placement="top" title="Shot or Upload an image to start"><span class="icon fa fa-camera"></span></div>
			<div class="uploadBar">
				<div class="uploadProgressBtn upload" data-toggle="tooltip" data-placement="top" title="Shot or Upload an image to start"></div>
			</div>
			<input type="file" class="btn uploadBtn"/>
		</form>
	</div>
</div>